// Colors
$color-primary: rgb(255, 255, 255);
$color-secondary: #666;
$color-bg: #fff;


// Typography
$font-main: 'MyFont', Arial, sans-serif;
$txt-commun: 'Manrope', Arial, sans-serif;
$txt-glitch: 'RubikGlitch', Comic, sans-serif;

// Spacing
$spacing: 1rem;



//julian
$color_background: #6d28d9;
$color_1: #6d28d9;
$color_2: #111;
$color_3: #374151;
$color_4: #6b7280;
$color_5: #fff;
$color_6: rgba(255, 255, 255, 0.88);
$color_7: rgb(0, 0, 0);
$color_8: #000000;
$color_9: #555;
$color_10: #333;
$color_11: #9ca3af;
$color_12: #1f1f1f;
$color_13: #aaa;
$color_14: #c9a84c;
$font-family_1: sans-serif;
$background-color_1: #fff;
$background-color_2: #5b1554;
//julian-quizz
$yellow:  #F5C518;
$black:   #111111;
$white:   #FFFFFF;
$gray-lt: #F4F4F4;
$gray-bd: #CCCCCC;
$purple:  #6C3CE1;